/* ==UserStyle==
@name         Fuck maxlength password
@namespace    userstyles.xnu.kr/maxlength-password
@description  Did you know that many sites still like tiny passwords?
@author       Xnuk Shuman
@version      2024.01.21
@preprocessor stylus
@license      AGPL-3.0-or-later
==/UserStyle== */

$svg = replace('\s*\n\s*', '', '
	<svg viewBox="-90 -15 100 30" xmlns="http://www.w3.org/2000/svg">
		<text text-anchor="end" dominant-baseline="middle" fill="white">
			MAXLENGTH
		</text>
	</svg>
')
$image = url('data:image/svg+xml,' + $svg)

input[type=password][maxlength]
	background-image: $image
	background-repeat: no-repeat
	background-position: right

	for i in 2..64
		&[maxlength={i}]
			background-color: rgba(red, round(1 - (i ** 0.5 - 1) / 10, 2))
